@model IEnumerable<BlogSitesiMVC.Models.Makale>

@{ 
    Layout = null;
}




@helper IcerikKisalt(string icerik)
    { 
         if (icerik.Length>300)
         {
           @icerik.Substring(0, 300);
         }
         else
         {
           @icerik;
         }


      }






    <div class="blog-posts col-blog">
        @foreach (var Makale in Model)
        {
            <div class="post row">
                <div class="col-sm-4">
                    <figure>
                        <a href="/Makale/Detay/@Makale.MakaleID">
                            <div class="text-overlay">
                                <div class="info"><span>Daha fazla oku</span></div>
                            </div>
                            <img src="@Makale.Resim.OrtaBoyut" alt="" />
                        </a>
                    </figure>
                </div>
                <div class="col-sm-8 post-content">
                    <div class="meta"><span class="date">@Makale.EklenmeTarihi.ToShortDateString()</span><span class="comments"><a href="#">@Makale.Yorum.Count<i class="icon-chat-1"></i></a></span></div>
                    <h2 class="post-title"><a href="/Makale/Detay/@Makale.MakaleID">@Makale.Baslik</a></h2>
                    <p>@IcerikKisalt(Makale.Icerik)</p>
                </div>
            </div>


        }
    </div>

