@model IEnumerable<BlogSitesiMVC.Models.Makale>

@helper IcerikKisalt(string metin)
{
    if (metin.Length>300)
    {
        @metin.Substring(0,300)
    }
    else
    {
        @metin
    }
}
    <div class="blog-posts col-blog">
        @foreach (var Makale in Model)
        {
            <div class="post row">
                <div class="col-sm-4">
                    <figure>
                        <a href="blog-post.html">
                            <div class="text-overlay">
                                <div class="info"><span>Devamı</span></div>
                            </div>
                            <img src="style/images/art/b1.jpg" alt="" />
                        </a>
                    </figure>
                </div>
                <div class="col-sm-8 post-content">
                    <div class="meta"><span class="date">@Makale.EklenmeTarihi.ToLongDateString()</span><span class="comments"><a href="#">@Makale.Yorum.Count <i class="icon-chat-1"></i></a></span></div>
                    <h2 class="post-title"><a href="blog-post.html">@Makale.Baslik</a></h2>
                    <p>@IcerikKisalt(Makale.Icerik)</p>
                </div>
            </div>


        }
    </div>
